.modal {
    display: none;
    background-color: #e6e6e6;
    padding: 20px;
    margin: 20px;
}

.modal--active {
    display: block;
}

.modal__content {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}