.btn {
    border: 0;
    border-radius: 15px;
    color: #FFF;
    width: 200px;
    padding: 10px;
    background-color: #7C4DFF;
    font-size: 16px;
}

.btn:hover {
    background-color: #D1C4E9;
}